/* These are shared components */

* {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 900;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

/* These are app specific components */

.App {
  border: black;
  border-style: solid;
  border-radius: 4px;
  transition: 0.2s;
}

.Menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.Title-container {
  margin-top: 48px;
  margin-left: 32px;
}

.Game-container {
}

.Zen-mode {
  background-color: #d5bff7;
  padding: 32px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.Competitive-mode {
  background-color: #f4d150;
  padding: 32px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.Footer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-weight: 500;
}
