/* These are shared components */

* {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 900;
  margin-bottom: 16px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

/* These are app specific components */

.App {
  border: black;
  border-style: solid;
  border-radius: 4px;
  transition: 0.2s;
}

.Menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.Title-container {
  margin-top: 48px;
  margin-left: 32px;
}

.Game-container {
}

.Zen-mode {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #d5bff7;
}

.Zen-container {
  background-color: #d5bff7;
  padding: 32px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.Competitive-mode {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #f4d150;
  padding: 32px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.Footer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-weight: 500;
}

.Number-container {
  background-color: #e8ab94;
  border-style: solid;
  padding: 16px;
  height: 22px;
  width: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 700;
  margin-right: 16px;
}

.Rotate-arrow {
  transform: rotate(90deg);
}

.Instruction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 128px;
}

.Instruction {
  margin-top: 32px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.Button-inactive {
  width: 320px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border: black;
  border-style: solid;
  border-radius: 4px;
}

.Button-inactive:hover {
  width: 320px;
  display: flex;
  background-color: white;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border: black;
  border-style: solid;
  border-radius: 4px;
  transition: 0.2s;
}

.Subtext {
  font-weight: 400;
}
